 @media (min-width: 75.00001em) and (max-width: 81.25em) { /* 1300px */
    .col-2-4 {
        min-width: calc(calc(100% - 60px) / 4);
    }
    .inner.has-inner--extra  
    .inner-list-item__link:not(
        .inner.inner--extra .inner-list-item__link
    ) {
        flex-direction: row-reverse;
    } 
    .inner.has-inner--extra 
    .inner-list-item__link i {
        transform: rotate(180deg);
    }
    .inner-list-item.has-inner--extra 
    .inner--extra {
        inset: -28px 100% auto auto;
    }
    .inner-wrap .inner-list-item__link {
        padding: 8px 24px;
    }
}

@media (max-width: 75em) { /* 1200px */
    /* .header {
        padding: 0 100px;
        height: 68px;
        background-color: #3fd0d4;
    }
    .header-logo {
        display: none;
    }
    .header-logo.header-logo-mobile {
        display: flex;
    }
    .header-navbar {
        position: relative;
    }
    .header-navbar > i {
        display: block;
        font-size: 20px;
        color: var(--white-color);
        cursor: pointer;
    }
    .navbar-list {
        display: none;
        position: absolute;
        inset: 68px auto auto -100px;
        top: 68px;
        left: -100px;
        height: 280px;
        display: flex;
        flex-direction: column;
        background-color: var(--white-color);
        overflow: hidden;
        overflow-y: auto;
        z-index: 10000;
    }
    .navbar-list::-webkit-scrollbar {
        width: 0;
    }
    .navbar-list-item {
        position: relative !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 84px !important;
    }
    .navbar-list-item::after {
        content: "";
        display: block !important;
        position: absolute;
        inset: 38.2px 16px auto 16px !important;
        height: 1px;
        background-color: #eee;
    }
    .navbar-list-item > i {
        display: block;
    }
    .navbar-list-item__link::after {
        display: none;
    }
    .inner {
        position: unset;
        transform: translateY(8px);
        z-index: 11000 !important;
    }
    .inner-list {
        padding: 0;
    }
    .inner-list-item {
        padding: 0 0 0 16px;
    }
    .inner-list-item__link {
        position: relative;
        padding: 9.2px 0;
    }
    .inner-list-item__link::after {
        content: "";
        position: absolute;
        inset: auto 0 0 0;
        height: 1px;
        background-color: #eee;
    }
    .inner-list-item__link span::after {
        display: none;
    }
    .header-right {
        display: none;
    }
    .header-user {
        display: flex;
    }
    .header-user > i {
        font-size: 20px;
        color: var(--white-color);
        cursor: pointer;
    } */
}

@media (max-width: 64em) { /* 1024px */
    .col-2-4 {
        min-width: calc(calc(100% - 40px) / 3);
    }
    /* .review-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .review-user-avatar {
        margin-right: unset;
    } */
}

@media (max-width: 47.5em) { /* 760px */
    .col-2-4 {
        min-width: calc(calc(100% - 20px) / 2);
    }
    .pagination-btn.pagination-btn-5.none {
        display: block;
    }
    .col-4 {
        min-width: calc(calc(100% - 40px) / 2);
    }
}

@media (max-width: 36.25em) { /* 580px */
    .col-2-4 {
        min-width: 100%;
    }
    .pagination-btn.pagination-btn-10.none {
        display: block;
    }
    .col-4 {
        min-width: 100%;
    }
    .pagination-btn.pagination-btn-9.none {
        display: block;
    }
}